{% load static %}
<html>
<head>
    <title>Ecommerce</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <script>
        var user = '{{ request.user }}'
        var base_url = '{{ request.scheme }}://{{ request.get_host }}'
    </script>

    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <!--<script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>-->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'store' %}">Ecom</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'store' %}">Store <span class="sr-only">(current)</span></a>
      </li>

    </ul>
    <div class="form-inline my-2 my-lg-0">
     	<a href="#"class="btn btn-warning">Login</a>

     	<a href="{% url 'cart' %}">
    		<img  id="cart-icon" src="{% static 'images/cart.png' %}">
    	</a>
    	<p id="cart-total">{{cartItems}}</p>

    </div>
  </div>
</nav>
<hr>

<div class="container">
    <br>
    {% block content %}


    {% endblock content %}
</div>


</body>
</html>